*.pyc
*.db
*.session
*~

html/
htmlcov/
coverage/
.coverage
.tox
nosetests.xml
build/
dist/
*.egg-info/
MANIFEST

bin/
include/
lib/
local/

*.log
pip-log.txt

.DS_Store

env
site

.idea/
__pycache__
venv/

.vscode/

staticfiles/
*.sqlite3